.calendar {
  display: flex;
  &__header {
    display: flex;
  }
  &__day-label {
    display: inline-block;
    width: 128.7px;
    height: 100px;
    color: #000000;
    text-align: center;
    margin: 15px;
    padding: 15px;
  }
  &__week-container {
    display: flex;
  }
  &__week {
    display: flex;
    margin: 0;
  }
  &__day {
    border: #000000 solid 1px;
    padding-left: 120px;
  }
  &__time-scale {
  }
}

.day-label {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  &__day-name {
    display: block;
    opacity: 0.5;
    text-transform: uppercase;
  }
  &__day-number {
    display: block;
    padding: 15px;
    font-size: 22px;
    opacity: 0.8;
  }
}
